[package]
url = "https://gitlab.gnome.org/GNOME/libxml2.git"
ref = "v2.13.5"
depth = 1

[[build_configs]]
build_system = "cmake"
dependencies_windows = ["libiconv@1.18"]
options = ["-DLIBXML2_WITH_PYTHON=OFF"]
post_install = [
    "cmake -E rename ${PACKAGE_DIR}/lib/cmake/libxml2-2.13.5 ${PACKAGE_DIR}/lib/cmake/libxml2",
]
