[package]
url = "https://gitlab.gnome.org/GNOME/libxml2.git"
ref = "v2.13.5"
depth = 1

[[build_configs]]
build_system = "cmake"
dependencies = ["cpython@3.11.13"]
dependencies_windows = ["libiconv@1.14"]
post_install = [
    "cmake -E rename ${PACKAGE_DIR}/lib/cmake/libxml2-2.13.5 ${PACKAGE_DIR}/lib/cmake/libxml2",
]
