[package]
url = "https://github.com/openssl/openssl.git"
ref = "OpenSSL_1_1_1w"
depth = 1
ignore_submodule = true

# ============== build for aarch64-linux ============== #
[[build_configs]]
pattern = "aarch64-linux*"
build_system = "makefiles"
build_shared = "shared"
build_static = "no-shared"
options = [
    "linux-aarch64",
    "no-tests",
    "--libdir=lib",
    "--cc=${CROSSTOOL_PREFIX}gcc",
]

# ============== build for x86_64-linux ============== #
[[build_configs]]
pattern = "x86_64-linux*"
build_system = "makefiles"
build_shared = "shared"
build_static = "no-shared"
options = [
    "linux-x86_64",
    "no-tests",
    "--libdir=lib",
    "--cc=${CROSSTOOL_PREFIX}gcc",
]

# ============== build for windows ============== #
[[build_configs]]
pattern = "*windows*"
build_system = "makefiles"
build_shared = "shared"
build_static = "no-shared"
options = [
    "VC-WIN64A",
    "no-tests",
    "--openssldir=ssl",
    "--libdir=lib",
    "--cc=${CROSSTOOL_PREFIX}gcc",
]
